.TShirtDiv {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

.TShirtDiv h1{
    font-size: 18px;
}

.TShirtDiv h2{
    font-size: 14px;
    margin-bottom: 24px;
}

.tshirtImg img{
    width: 250px;
    height: 250px;
}

.addToCartBtn {
    width: 100%;
    
}